Django
django-cors-headers==3.13.0
django-crum==0.7.9
djangorestframework==3.14.0
djangorestframework-simplejwt
djoser
pandas
social-auth-app-django
django-debug-toolbar
psycopg2
dj-rest-auth
dj-rest-auth[with_social]
python-jose[cryptography]