.item{
    cursor: pointer;
}

.cart{
    cursor: pointer;
}

.listing-image{
    width: 200px;
    height: 200px;
}
.modal-image{
    max-width: 450px;
    max-height: 450px;
}

.card{
    flex-direction: row;
}

.delete{

    cursor: pointer;
}
.delete:hover{

    transform: scale(1.2);
}
