.item{
    cursor: pointer;
}

.cart{
    cursor: pointer;
}

.listing-image{
    width: 200px;
    height: 200px;
}
.modal-image{
    max-width: 450px;
    max-height: 450px;
}

.itemDetail{
    flex-direction: row;
}

.delete{
    cursor: pointer;
}
.delete:hover{

    transform: scale(1.2);
}

.password::before {
    content: " ••••••••••••"; /* Display a bullet or any other character you prefer */
    color: #000;
  }
  
.password:focus {
outline: none; /* Removes the default focus outline */
}

.manageList {
    cursor: pointer;
}
.background{
    background-color: #eceff1;
}
.card-subtitle {
    word-wrap: break-word;
  }
